<div class="d-flex">
  <div
    style="width: 200px; height: 90vh"
    class="sidebar bg-primary-subtle p-3 d-flex flex-column border shadow m-1"
  >
    <a routerLink="home" class="text-dark">HOME</a>
    <a routerLink="/users" class="text-dark">USERS</a>

    <button class="btn btn-danger text-light fw-bolder mt-auto" (click)="logout()"><i class="fa-solid fa-right-from-bracket"></i>Log Out</button>
  </div>
<div class="dashboard p-3 w-100">
    <div class="row">
      <div class="col-lg-8">
      <div style="height: 150px; background-image: url(https://t4.ftcdn.net/jpg/01/30/50/59/360_F_130505941_aHM5DQifhmVGcs80xVUPPMfDjg5BBm3c.jpg);background-size: cover ;" class="admin-panel border rounded d-flex align-items-center justify-content-center">
      <h1 style="color: rgb(16, 16, 16); font-weight: bold;" class="ms-5 ">Welcome <span>{{adminName}}</span></h1>
      </div>

      <div class=" mt-4 d-flex ">
        <div style="height: 400px;" class="col-lg-6 border shadow rounded "><app-inline-calender></app-inline-calender></div>
        <div class="col-lg-1"></div>
        <div style="height: 400px;" class="col-lg-5 border shadow rounded"><app-chart></app-chart></div>
      </div>
    </div>
      <div class="col-lg-4">
        <div style="height: 350px;" class="admin-details border shadow rounded p-2">
         <app-edit-admin (onUpdate)="updateAdminName($event)"></app-edit-admin>
        </div>

        <div style="height: 200px; background-image: url(https://t4.ftcdn.net/jpg/01/30/50/59/360_F_130505941_aHM5DQifhmVGcs80xVUPPMfDjg5BBm3c.jpg ); background-size: cover;" class="random-user mt-2 border shadow rounded p-2 align-items-center d-flex justify-content-center fs-4"><i class="fa-users fa-solid me-2"></i>
          Employees : <span class="ms-2">{{totalUserCount}}</span>
        </div>
      </div>
    </div>
</div>
</div>
